#home-page__card {
    height: auto;
    padding: 15px 30px;
}

/* Medium devices (821px and up) */
@media (min-width: 821px) {
    #home-page {
        position: relative;
        /* margin: 20px auto; */
    }
    #home-page__card,
    #home-page__card--shadow {
        /* width: 600px;
        height: 810px; */
        width: 950px;
        height: 650px;
        border-radius: 10px;
        position: absolute;
    }

    #home-page__card {
        padding: 15px 60px;
        border: solid 2px var(--cosmic-cobalt);
        background: var(--alabaster);
        z-index: 10;
        left: 50%;
        transform: translatex(-50%);
    }
    #home-page__card--shadow {
        background: var(--cosmic-cobalt);
        left: 53%;
        top: 2%;
        transform: translatex(-50%);
    }

    #cta-button {
        width: 50% !important;
        margin: 10px auto;
    }
}
