#cta-button {
  width: 100%;
  height: 47px;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 5px;
  background-color: #c6a3ff;
  color: #241e92;
  margin-top: 0;
}

#cta-button:hover {
  background-color: #7b6cf6;
  color: #241e92;
}
