.card-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card,
.card__shadow {
    width: 350px;
    height: 600px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid var(--jacksons-purple);
    background: var(--alabaster);
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 20px;
}

.card__shadow {
    background: var(--cornflower-blue);
    position: relative;
    bottom: -2.5%;
    left: 3.5%;
}

.top__heading h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cornflower-blue);
}

.top__heading h3:hover {
    color: var(--jacksons-purple);
}

.top__heading h4 {
    font-size: 1.14rem;
    color: var(--jacksons-purple);
}

.top__address {
    font-size: 0.87rem;
    margin: 10px 0;
}

.middle__image-container {
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.bottom__links--instagram,
.bottom__links--facebook {
    height: 6px;
    width: 6px;
    color: var(--cornflower-blue);
}

.bottom__links--instagram:hover,
.bottom__links--facebook:hover, .bottom__contact a:hover {
    color: var(--jacksons-purple);
    cursor: pointer;
}

.bottom__contact {
    padding: 10px 0;
    font-size: 0.87rem;
}

.bottom__contact a {
    display: block;
}

#inactive {
    transform: scale(0.8);
    transition: 1000ms;
}

#inactive .card__shadow {
    background: black;
}

#inactive .card {
    border: 1px solid black;
}

#inactive .card img {
    filter: grayscale(100);
}

#inactive h3,
#inactive h4 {
    color: black;
}

#inactive .card_links--instagram,
#inactive .card_links--facebook {
    color: black;
}

#inactive .card_links--instagram:hover,
#inactive .card_links--facebook:hover {
    color: black;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-container {
        width: 410px;
        height: 600px;
    }

    .card,
    .card__shadow {
        width: 375px;
    }

    .top__heading h3 {
        font-size: 2rem;
    }

    .top__heading h4 {
        font-size: 1.5rem;
    }

    .top__address {
        font-size: 0.87rem;
        margin: 10px 0;
    }
}
