li.option-button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    border: 1px solid var(--cornflower-blue);
    padding: 8px 15px;
    margin: 6px 0;
}

li.option-button:hover {
    cursor: pointer;
    background: var(--cornflower-blue);
}

li.active {
    background: var(--cornflower-blue) !important;
}

.hover-grow {
    transition: all 0.2s ease-in-out;
}

.hover-grow:hover {
    transform: scale(1.05);
}
