.content-container {
  margin: 0;
  height: 100%;
}

#search-content {
  padding: 54px 48px 54px 48px;
  height: 100%;
  overflow-y: scroll;
}

/* width */
#search-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#search-content::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#search-content::-webkit-scrollbar-thumb {
  background: #cbacc2;
  border-radius: 10px;
}

/* Handle on hover */
#search-content::-webkit-scrollbar-thumb:hover {
  background: #a27e97;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-container {
    padding: 40px 40px;
  }
  .search-content {
    border-radius: 10px;
  }
}
