.controls-container {
  font-weight: 700;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px auto 15px auto;
  font-size: 1.2rem;
}

span.results-total {
}

.controls-container i {
  color: #3b122e;
  cursor: pointer;
}

.controls-container i:hover {
  color: #262626;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .controls-container {
    font-weight: 700;
    width: 297px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 40px auto 20px auto;
    font-size: 1.2rem;
  }
}
