.controls-container {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px auto 15px auto;
  font-size: 1.2rem;
}

.controls-container i {
  color: #241e92;
  cursor: pointer;
}

.controls-container i:hover {
  color: #000000;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .controls-container {
    font-weight: 700;
    width: 297px;
    margin: 40px auto 15px auto;
    font-size: 1.2rem;
  }
}
