@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif !important;
  color: #262626 !important;
  /* Font size is 16px */
}

#SearchPage,
#ResultsPage {
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 0;
}

.content {
  background-image: url(./assets/background3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-container {
    margin: 0;
    height: 100%;
  }
}
