/* Medium devices (768px and up) */
@media (min-width: 768px) {
    #page {
        position: relative;
        /* margin: 20px auto; */
    }
    #page__card,
    #page__card--shadow {
        width: 529px;
        height: 670px;
        border-radius: 10px;
        position: absolute;
    }

    #page__card {
        padding: 15px 50px;
        border: solid 2px var(--jacksons-purple);
        background: var(--alabaster);
        z-index: 10;
        left: 50%;
        transform: translatex(-50%);
    }
    #page__card--shadow {
        background: var(--jacksons-purple);
        left: 53%;
        top: 2%;
        transform: translatex(-50%);
    }
}
