@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
html,
body,
#root,
.app {
  min-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif !important;
  color: #000000 !important;
  background: #f7f7f7 !important;
  /* Font size is 16px */
}

#MainPage {
  min-height: 100vh;
  max-width: 528px;
  padding: 0 !important;
}

#MainPageContent {
  padding: 38px 44px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #MainPage {
    position: relative;
    margin: 20px auto;
  }
  #MainPageContent,
  #MainPageContentShadow {
    width: 529px;
    height: 670px;
    border-radius: 10px;
    position: absolute;
  }
  #MainPageContent {
    padding: 15px 50px;
    border: solid 2px #241e92;
    background: #f7f7f7;
    z-index: 10;
    left: 50%;
    transform: translatex(-50%);
  }
  #MainPageContentShadow {
    background: #241e92;
    left: 53%;
    top: 2%;
    transform: translatex(-50%);
  }
}
