@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root,
    .app {
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        --black: #000000;
        --jacksons-purple: #241e92;
        --purple-heart: #5432d3;
        --cornflower-blue: #7b6cf6;
        --mauve: #c6a3ff;
        --gallery: #eeeeee;
        --alabaster: #f7f7f7;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Space Grotesk', sans-serif;
        color: var(--black) !important;
        background: var(--alabaster) !important;
        /* Font size is 16px */
    }
}
