@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root,
    .app {
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        --black: #000000;
        --cosmic-cobalt: #241e92;
        --iris: #5432d3;
        --medium-slate-blue: #7b6cf6;
        --pale-violet: #c6a3ff;
        --gallery: #eeeeee;
        --alabaster: #f7f7f7;
        --crimson: #e01039;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Space Grotesk', sans-serif;
        color: var(--black) !important;
        /* background: var(--alabaster) !important; */
        background-color: darkgray;
        /* Font size is 16px */
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* background-color: white; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
