/* .header-container {
  text-align: center;
} */

/* h1 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  font-family: "Space Grotesk", sans-serif;
} */

/* h1 a {
  text-decoration: none !important;
  color: #000000;
} */

/* h1 a:hover {
  color: #000000;
} */

/* h2 {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  font-family: "Space Mono", monospace;
} */
