#addon-wrapping {
  background: white;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #cbacc2;
}

#search-inputs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.css-gcwvw8-MuiAutocomplete-root {
  width: 100% !important;
  background: white;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0 !important;
}

#search-input {
  z-index: 1;
  background: 50%;
  border-radius: 0px;
  height: 47px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: none !important;
  border-radius: 0 !important;
}

#search-input-overlay {
  color: gray;
  background: white;
  cursor: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
  z-index: 0;
  height: 47px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: none !important;
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

#current-location-button {
  background: white;
  border: 1px solid #ced4da;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #3b122e;
}
