ul.services-container {
  list-style: none;
  margin: 36px auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 12px;
}

li.service-button {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  border: 1px solid #7b6cf6;
  padding: 8px 15px;
  border-radius: 100px;
  margin: 6px 0;
}

li.service-button:hover {
  cursor: pointer;
  background: #7b6cf6;
}

li.active {
  background: #7b6cf6;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}
